{% load menu %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-bg">
                    <div class="row">
                        <div class="col-md-9">
                            {% show_menu 'footer-menu'%}

                        </div>
                        <div class="col-md-3">
                            <div class="footer-icon">
                                <p>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    {% if request.user.is_authenticated %}
                                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                                    {% else %}
                                    <a href="{% url 'register' %}"><i class="fa fa-registered" aria-hidden="true"></i></a>
                                    <a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>